*{
    box-sizing: border-box;
    margin: 0;
    
}
footer , header{
    position: fixed;
    width: 100%;
    font-family: "Papyrus";
    text-align: center;
}
header  {
    color: #fff;
    background-color: #001e38;
    border-bottom: 2px solid #c88800;
    
}

footer{
    bottom: 0px;
    color: #fff;
    background-color: #2f4562;
}
    .containerHeader , .containerHeader {
        margin: 8px;
    }
.containerPrincipal{
     display: flex; 
     font-size: 18px;
     
}
/* .containerPrincipal div{
     flex: 1; 
} */
    .containerImg{
        display: flex;
        justify-content: center;
        width:60%;
        
        
    }
    .containerImg img {
        
        background-position: left;
    }
    .containerContent{
        display: flex; 
        flex-direction: column;
        /* align-items: center; */
        width:100%;
        padding: 20px;
        margin-top: 100px;
        border-radius: 6px;
        
    }
    
.containerContent label {
    text-align: start;
}
input[type="text"]{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid #181214e8;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
}

input[type="submit"]{
    background-color: orange;
    color: white;
    padding: 10px;
    margin-left: 200px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 18px;
   
}

label{
    font-weight: bold;
    font-size: 24px;
}

/*mensaje de alerta*/
#AlertMessage {
    color: red;
    display: none;
    
}

#result{
    display: none;
    
}

.boxMaskify{
    margin: 20px;
    text-align: center;
    padding: 5px;
    
}
.servicios{
    display: flex; 
    margin: 5px;
    padding:10px;
    border: 2px solid #c88800 ;
    border-radius: 5px;
}
.servicios img {
    display: flex; 
    margin: 5px;
    width: 6%;
}
.boxServices p{
    padding: 5px;
    


}
.boxServices{
    border-radius: 5px;
    margin : 10px;
    
}

.servicios:hover{
    background-color: #001e38;
    color: #fff;
    border: 2px solid #c88800;
    border-radius: 6px;
    
}

h2 , p{
    padding: 5px;
}
